@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基本の高さ確保 */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* フォント設定 */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #343a40;
  background-color: #FFFFFF;
}

/* タイポグラフィ階層 */
h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

small {
  font-size: 14px;
  font-weight: 400;
}
